<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    [v-cloak]{ display: none; }
  </style>
</head>

<body>
  <h1>Hello vue</h1>

  <div id="app" v-cloak>
    Hello1 {{ message + "!" }}
    <p>{{user.name}}</p>

    <lubie-placki v-bind:user="user"></lubie-placki>
    
  </div>
  
  <div id="app2"  v-cloak>
    Hello2 {{ message + "!" }}
    <p>{{user.name}}</p>
    
    <!-- <lubie-placki></lubie-placki> -->
  </div>

  <div id="app3">
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script>
    // $('#app').mojPlugin({opcje})

    var AppComponent = Vue.extend({
      props:['user'],
      template: `<div class="inner">
          <b> {{ message + "!" }} </b>
          <p  v-on:click="changeMessage($event)">{{user.name}}</p>      
      </div>`,
      methods: {
        changeMessage(event) {
          console.log(event)
          this.message = `Hello ${this.user.name}`
        }
      },
      data() {
        return {
          message: '',
          // user: {
          //   name: 'Alice'
          // }
        }
      }
    })    

    var userData = {
      message: ' Vue',
      user: {
        name: 'Alice'
      }
    }

    // div = document.createElement('div')
    // document.body.append(div)
    // div.id = 'test123'
    // div.className = 'outer'

    // x3 = new AppComponent({
    //   // el: '#test123'
    //   // el: div
    // })
    // x3.$set('user', userData.user)
    // x3.$mount(div)
    // // x3.$destroy()


    var app = new Vue({
      components: {
        'lubie-placki': AppComponent
      },
      el: '#app',
      data: userData
    })

    var app2 = new Vue({
      el: '#app2',
      data: userData
    })
  </script>
</body>

</html>