<template>
  <div id="app">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
      <div class="container">
        <router-link class="navbar-brand" to="/">MusicApp</router-link>
        <button
          class="navbar-toggler"
          type="button"
          @click="navbarOpen = !navbarOpen"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" :class="{ show: navbarOpen }">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link class="nav-link" to="/search">Search</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/playlists"
                >Playlists</router-link
              >
            </li>
          </ul>
          <div class="ml-auto text-white">
            <UserProfile>
              <template v-slot:loggedin="{ user, logout }">
                Welcome {{ user.display_name }},
                <span @click="logout()">Log out</span>
              </template>

              <template v-slot="propsFromSlot">
                Hello Anonym, <span @click="propsFromSlot.login()">Log in</span>
              </template>
            </UserProfile>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import "bootstrap/dist/css/bootstrap.css";
import { auth, search, user } from "./services";
import { UserService } from "./services/users";
import UserProfile from "./components/UserProfile.vue";

@Component({
  components: {
    UserProfile
  },
  provide: {
    image_size: 0,
    auth,
    search,
    user
  }
})
export default class App extends Vue {
  navbarOpen = false;
}
</script>

<!--
<style lang="sass">
  $bg-color: #ddd;
  @import 'node_modules/bootstrap/scss/bootstrap.scss';
</style>
-->