<template>
  <!-- <button class="btn" @click="$emit('click', $event)"> -->
  <!-- <button class="btn" v-on="{ click: $emit('click', $event) }"> -->

  <!-- <button class="btn"> //parent: @click.native="editClicked" -->
    
  <button class="btn" v-on="$listeners">
    <slot></slot>
  </button>
</template>

<script>
export default {};
</script>