<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><slot name="title"></slot></h5>

      <slot></slot>
    </div>
    <div class="card-footer" v-if="$slots['footer']">
      <slot name="footer"></slot>
    </div>
  </div>
</template>