
<template>
  <Card>
    <!-- <pre>{{ playlist }}</pre>
    <pre>{{ draft }}</pre> -->
    <template slot="title">Playlists Form </template>
    <template slot="footer">
      <button class="btn btn-danger" @click="cancelClick">Cancel</button>
      <button class="btn btn-success" @click="savePlaylist">Save</button>
    </template>

    <div>
      <label>Name:</label>
      <input
        ref="nameInputRef"
        type="text"
        class="form-control"
        @input="validate('name', draft.name)"
        v-model="draft.name"
      />
    </div>
    <p>{{ 170 - draft.name.length }} / 170</p>
    <p v-if="errors['name']">{{ errors.name }}</p>
    <div>
      <label>Public <input type="checkbox" v-model="draft.public"/></label>
    </div>

    <div>
      <label>Description:</label>
      <textarea class="form-control" v-model="draft.description"></textarea>
    </div>
  </Card>
</template>

<script lang="ts">
import { Component, Prop, Vue, Ref } from "vue-property-decorator";
import { Playlist } from "../model/Playlist";

@Component({
  // mounted(){
  //   this.$refs.nameInputRef.focus()
  // },
  watch: {
    playlist(this: PlaylistForm) {
      // Update draft when new playlist (diffrent ID) is given
      if (this.draft?.id !== this.playlist.id) {
        this.draft = { ...this.playlist };
      }
    }
  }
})
export default class PlaylistForm extends Vue {
  @Prop({ required: true })
  playlist!: Playlist;

  draft: Playlist | null = null;

  @Ref("nameInputRef")
  nameInputRef?: HTMLInputElement;

  errors: any = {};
  validate(field: string, value: string) {
    switch (field) {
      case "name":
        if (!value) {
          this.errors["name"] = "Field required";
        }
        break;
    }
  }

  cancelClick() {
    this.$emit("cancel");
  }

  savePlaylist() {
    this.$emit("save", this.draft);
  }

  beforeCreate() {
    // console.log("beforeCreate", this);
  }
  created() {
    // console.log("created", this);
    this.draft = { ...this.playlist };
  }
  beforeMount() {
    // console.log("beforeMount", this);
  }
  mounted() {
    // console.log("mounted", this);
    // this.$refs[nameOfRef] // Vue | Element | Vue[] | Element[]
    // (this.$refs.nameInputRef as HTMLInputElement)?.focus();
    this.nameInputRef?.focus();
  }
  beforeUpdate() {
    // debugger
    // Reset form when different playlist  is selected
    // if (this.draft?.id !== this.playlist.id) {
    //   this.draft = { ...this.playlist };
    // }
    // console.log("beforeUpdate", this);
  }
  updated() {
    // console.log("updated", this);
  }
  beforeDestroy() {
    // console.log("beforeDestroy", this);
  }
  destroyed() {
    // console.log("destroyed", this);
  }
}
</script>

<style>
</style>
