
<template>
  <div>
    <div class="list-group">
      <div
        class="list-group-item"
        v-for="(playlist, index) of items"
        :key="playlist.id"
        @click="select(playlist)"
        :class="{ active: selected && selected.id == playlist.id }"
      >
        {{ index + 1 }}. {{ playlist.name }}
      </div>
    </div>
    <!-- Selected {{ selected && selected.name }} -->
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Playlist } from "../model/Playlist";

@Component({
  // props:['selected','items']
})
export default class PlaylistList extends Vue {
  @Prop()
  selected!: Playlist | null;

  @Prop({ required: true })
  items!: Playlist[];

  select(playlist: Playlist) {
    this.$emit("selectedPLacki", /* $event == */ playlist);
  }
}
</script>

<style>
</style>
