
<template>
  <Card>
    <template slot="title">{{ playlist.name }}</template>

    <div
      :data-playlist-id="playlist.id"
      v-bind:id="playlist.id"
      v-bind="{
        'data-obj': {},
        title: playlist.name
      }"
    >
      <!-- v-bind="genearteAttrs()"> -->
      <!-- <p>Playlists Details</p> -->
      <!-- dl>(dt{Name:}+dd{Value})*3 -->
      <dl>
        <!-- <dt>Name:</dt> -->
        <!-- <dd v-html="playlist.name"></dd>
      <dd v-text="playlist.name"></dd> -->
        <!-- <dd :style="{ 'font-size': 20 + 'px' }">{{ playlist.name }}</dd> -->

        <dt>Public:</dt>
        <dd
          class="is-public"
          :class="{
            'is-public-yes': playlist.public,
            'is-public-no': playlist.public == false
          }"
        >
          <!-- {{ playlist.public ? "Yes" : "No" }} -->
          {{ playlist.public | yesno("Yeah", "Nope") }}
        </dd>

        <dt>Description:</dt>
        <dd>{{ playlist.description }}</dd>
      </dl>
    </div>

    <template slot="footer">
    <!-- <button class="btn btn-info" @click="editClicked">Edit</button> -->
    <Button class="btn-info" @click="editClicked">Edit</Button>

    <!-- <button class="btn btn-info" @click="editClicked">Edit</button> -->
    </template>
  </Card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Playlist } from "../model/Playlist";

@Component({
  // props: ["playlist"]
})
export default class PlaylistDetails extends Vue {
  @Prop({ required: true })
  playlist!: Playlist;

  editClicked() {
    this.$emit("edit", this.playlist);
  }
}
</script>

<style>
.is-public {
  border-bottom: 2px solid currentColor;
}
.is-public-yes {
  color: red;
}
.is-public-no {
  color: green;
}
</style>
