<template>
  <div class="list-group">
    <div
      class="list-group-item"
      v-for="track of tracks"
      :key="track.id"
      @click="selectTrack(track, $event)"
      :class="{ active: selectedId == track.id }"
    >
      <span>{{ track.name }}</span>
      <span v-if="track.duration">{{ track.duration }}</span>
      
      <span
        class="close"
        v-if="canDelete"
        @click.stop="$emit('track-remove', track)"
        >&times;</span
      >
      <span
        class="close play"
        v-if="canPlay"
        @click.stop="$emit('track-play', track)"
        >&#9658;</span
      >
    </div>
  </div>
</template>

<script>
export default {
  props: ["tracks", "selectedId"],
  data() {
    return {
      canDelete: false,
      canPlay: false
    };
  },
  created() {
    this.canDelete = !!this.$listeners["track-remove"];
    this.canPlay = !!this.$listeners["track-play"];
  },
  methods: {
    selectTrack(track) {
      this.$emit("track-selected", track);
    }
    // removeTrack(track) {
    //   this.$emit("track-selected", track);
    //   // ...
    // }
  }
};
</script>

<style>
.play {
  transform: scaleX(0.5) scale(1.5);
}
</style>