<template>
  <div v-if="userProfile">
    <slot
      name="loggedin"
      v-bind="{
        user: userProfile,
        logout: logout
      }"
    ></slot>
  </div>
  <div v-else>
    <slot :user="null" :login="login"></slot>
  </div>
</template>

<script>
export default {
  inject: ["user", "auth"],
  // user: UserService = user
  data() {
    return {
      userProfile: null
    };
  },
  created() {
    this.auth.extractToken();
    this.user
      .getUserProfile() //
      .then(profile => (this.userProfile = profile));
  },
  methods: {
    login() {
      this.auth.authorize();
    },

    logout() {
      this.auth.logout();
      this.userProfile = null;
    }
  }
};
</script>

<style>
</style>