<template>
  <div class="card">
    <img :src="album.images[image_size].url" class="card-img-top" />

    <div class="card-body">
      <h5 class="card-title">{{ album.name }}</h5>

      <!-- <p class="card-text">
        This is a longer card with supporting text below as a natural lead-in to
        additional content. This content is a little bit longer.
      </p> -->
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Inject, Prop, Vue } from "vue-property-decorator";
import { Album } from "../../model/Search";

@Component({
  // props:['album']
})
export default class AlbumCard extends Vue {
  @Prop({ required: true })
  album!: Album;

  @Inject("image_size")
  image_size = 0
}
</script>

<style>
</style>