<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" v-on:click="changeMessage" />
    <HelloWorld v-bind:msg="message" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src

@Component({
  components: {
    HelloWorld
  }
})
export default class Home extends Vue {

  message = 'Hello'

  changeMessage(){
    this.message = 'Hello Vue'
  }
}
// console.log(Home)

</script>
