
<template>
  <div>
    <div class="row">
      <div class="col">
        <!-- <search-form /> -->
        <search-form @search="searchAlbums($event)" />
        <!-- this.$emit('search',this.query) -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="alert alert-danger" v-if="message">{{ message }}</p>
        <search-results :results="results" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Inject, Vue } from "vue-property-decorator";
import SearchForm from "../components/search/SearchForm.vue";
import SearchResults from "../components/search/SearchResults.vue";
import { Album, AlbumSearchResponse, Image } from "../model/Search";
import { MusicSearchService } from "../services";
import axios from "axios";
import { Route } from "vue-router";

@Component({
  components: {
    SearchForm: SearchForm,
    SearchResults
  },
  // inject: ["search","auth"]
  // watch: {
  //   "$route.query"(this: MusicSearch, queryParams) {
  //     const query = queryParams.query || "batman";
  //     this.sendSearchRequest(query);
  //   }
  // },
  beforeRouteEnter(to, from, next) {
    // this == undefined
    next((cmp) => (cmp as MusicSearch).searchFormParams(to));
  },
  beforeRouteUpdate(this: MusicSearch, to, from, next) {
    this.searchFormParams(to);
    next();
  },
  beforeRouteLeave(to, from, next) {
    // this.isFormNotSavedYet()? next() : next(new Error('Unsaved changes')
    next();
  }
})
export default class MusicSearch extends Vue {
  // data(){ return { ..
  results: Album[] = [];
  message = "";
  // ... } // end of data

  @Inject("search")
  search!: MusicSearchService;

  created() {
    // const query = this.$route.query["query"] || 'batman';
    // this.searchAlbums(query.toString());
  }

  searchFormParams(to: Route) {
    const query = to.query["query"] || "batman";
    this.sendSearchRequest(query.toString());
  }

  searchAlbums(query: string) {
    // this.$router.push("/search?query=" + query);
    // this.$router.push({
    this.$router.replace({
      name: "Search",
      query: { query }
    });
  }

  sendSearchRequest(query: string) {
    this.message = "";
    this.search
      .searchAlbums(query)
      .then(results => (this.results = results))
      .catch(error => (this.message = error.message));
  }
}

/* 
[
    {
      id: "123",
      name: "Test 123",
      images: [{ url: "https://www.placecage.com/c/300/300" } as Image]
    } as Album,
    {
      id: "234",
      name: "Test 234",
      images: [{ url: "https://www.placecage.com/c/500/500" } as Image]
    } as Album,
    {
      id: "345",
      name: "Test 345",
      images: [{ url: "https://www.placecage.com/c/200/200" } as Image]
    } as Album,
    {
      id: "456",
      name: "Test 456",
      images: [{ url: "https://www.placecage.com/c/600/600" } as Image]
    } as Album,
  ] */
</script>

<style>
</style>