  <!-- <vue> + ENTER -->

<template>
  <div>
    <p class="alert alert-danger" v-if="message">{{ message }}</p>
    <div class="row">
      <div class="col">
        <PlaylistList
          :items="playlists"
          :selected="selected"
          @selectedPLacki="select($event)"
          @edit="edit($event)"
        />
        <button class="btn btn-info float-right mt-3" @click="showCreateForm">
          Create new playlist
        </button>
      </div>
      <div class="col">
        <template v-if="selected">
          <PlaylistDetails
            v-if="mode == 'details'"
            :playlist="selected"
            @edit="showForm()"
          />
          <PlaylistForm
            v-else-if="mode == 'form'"
            :playlist="selected"
            @cancel="showDetails()"
            @save="savePlaylist($event)"
          />
          <PlaylistForm
            v-else-if="mode == 'create'"
            :playlist="newPlaylistDraft"
            @cancel="showDetails()"
            @save="savePlaylist($event)"
          />
        </template>
        <p class="alert alert-info" v-else>Please select playlist</p>
        <!-- {{ random }} -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Inject, Vue, Watch } from "vue-property-decorator";
import { Route } from "vue-router";
import PlaylistDetails from "../components/PlaylistDetails.vue";
import PlaylistForm from "../components/PlaylistForm.vue";
import PlaylistList from "../components/PlaylistsList.vue";
import { Playlist } from "../model/Playlist";
import { PlaylistsService } from "../services/playlists";
import { UserService } from "../services/users";

@Component({
  components: {
    PlaylistList,
    PlaylistDetails,
    PlaylistForm
  },
  beforeRouteEnter(to: Route, from, next) {
    next(cmp => ((cmp as Playlists).selectedId = to.params["playlist_id"]));
  },
  beforeRouteUpdate(this: Playlists, to, from, next) {
    this.selectedId = to.params["playlist_id"];
    next();
  }
})
export default class Playlists extends Vue {
  mode = "details";
  message = "";
  playlists: Playlist[] = [];
  selectedId?: Playlist["id"] = "123";
  selected: Playlist | null = null;

  @Inject("user")
  user!: UserService;

  service = new PlaylistsService();

  created() {
    this.fetchAllPlaylists();
  }

  private fetchAllPlaylists() {
    this.service
      .getCurrentUserPlaylists()
      .then(playlists => (this.playlists = playlists));
  }

  @Watch("selectedId")
  selectedIdChanged(playlist_id: string) {
    if (this.selectedId) {
      this.fetchPlaylistById(playlist_id);
    } else {
      this.selected = null;
    }
  }

  private fetchPlaylistById(playlist_id: any) {
    this.service
      .gePlaylistsById(playlist_id)
      .then(playlist => (this.selected = playlist));
  }

  select(playlist: Playlist) {
    // this.selected = this.selected?.id == playlist.id ? undefined : playlist;
    this.$router.replace({
      name: "Playlists",
      params: this.selectedId == playlist.id ? {} : { playlist_id: playlist.id }
    });
  }

  showForm() {
    this.mode = "form";
  }

  showDetails() {
    this.mode = "details";
  }

  newPlaylistDraft: Playlist | null = null;

  showCreateForm() {
    this.newPlaylistDraft = {
      name: "",
      public: false,
      description: ""
    } as Playlist;
    this.mode = "create";
  }

  // savePlaylist(draft: Playlist) {
  //   Promise.resolve()
  //     .then(() => {
  //       if (draft.id) {
  //         return this.service.updatePlaylist(draft.id, draft).then(() => draft);
  //       } else {
  //         return this.user.getUserProfile().then(user => {
  //           return this.service.createPlaylistForUser(user.id, draft);
  //         });
  //       }
  //     })
  //     .then(draft => {
  //       return Promise.all([
  //         this.fetchAllPlaylists(),
  //         this.fetchPlaylistById(draft.id)
  //       ]);
  //     })
  //     .catch(err => (this.message = err.message));
  // }

  async savePlaylist(draft: Playlist) {
    try {
      if (draft.id) {
        // Update if existing playlist (has an id)
        await this.service.updatePlaylist(draft.id, draft);
      } else {
        // Create New if not existing
        const user = await this.user.getUserProfile();
        draft = await this.service.createPlaylistForUser(user.id, draft);
      }
      // Update List and selected
      await Promise.all([
        this.fetchAllPlaylists(),
        this.fetchPlaylistById(draft.id)
      ]);
    } catch (err) {
      this.message = err.message;
    }
  }
}
</script>

<style>
</style>
