<template>
  <div>
    <div class="row">
      <div class="col">
        <PlaylistTracks
          v-bind:tracks="items"
          :selectedId="selectedId"
          @track-selected="selectItemForEdit($event)"
          @track-play="removeItem"
        />
        <!-- @track-remove="removeItem" -->
      </div>
      <div class="col">
        <form @submit="$event.preventDefault()">
          <div class="form-group">
            <label for="">Name</label
            ><input
              type="text"
              class="form-control"
              ref="nameRef"
              v-model="tempItem.name"
            />
            <!-- v-model="tempItem.name" shortcut for: -->
            <!-- :value="tempItem.name"
              @input="tempItem.name = $event.target.value" -->
            {{ 170 - tempItem.name.length }} / 170
            <!-- Refs are not reactive - only updated when some setter changes -->
            <!-- {{ $refs["nameRef"] && $refs["nameRef"].value.length }} -->
          </div>

          <div class="form-group">
            <label for=""
              >Download
              <input
                type="checkbox"
                ref="downloadRef"
                v-model="tempItem.download"
            /></label>
            <!-- :checked="tempItem.download"
                @input="tempItem.download = $event.target.checked" -->
          </div>

          <button
            class="btn btn-success"
            type="submit"
            v-if="tempItem.id == null"
            @click="addItem()"
          >
            Add
          </button>
          <button
            class="btn btn-success"
            type="submit"
            v-if="tempItem.id"
            @click="updateItem()"
          >
            Update
          </button>
        </form>
      </div>
    </div>
    <pre>{{ tempItem }}</pre>
    <pre>{{ items }}</pre>
  </div>
</template>

<script>
import Vue from "vue";
import PlaylistTracks from "../components/PlaylistTracks";

export default Vue.extend({
  components: { PlaylistTracks },
  data() {
    return {
      // temporary data for new Item before add
      tempItem: {
        id: null,
        name: "",
        download: false
      },
      selectedId: null,
      items: [
        {
          id: "123",
          name: "Text 123",
          download: false
        },
        {
          id: "234",
          name: "Text 234",
          download: false
        },
        {
          id: "345",
          name: "Text 345",
          download: false
        }
      ]
    };
  },
  methods: {
    selectItemForEdit(item) {
      this.selectedId = item.id;
      this.tempItem = { ...item };
    },
    resetTempItem() {
      this.tempItem = {
        name: "",
        download: false
      };
    },
    removeItem(itemToRemove /* , event */) {
      // event.stopPropagation()
      const index = this.items.findIndex(item => item.id === itemToRemove.id);
      if (index !== -1) {
        this.items.splice(index, 1);
      }
    },
    updateItem() {
      const index = this.items.findIndex(item => item.id === this.tempItem.id);
      if (index !== -1) {
        // this.items[index] = {...this.tempItem } // NO SEtter / Not REACTIVE
        this.items.splice(index, 1, { ...this.tempItem });
        // Alternative:
        // this.$set(this.items, index, { ...this.tempItem });
      }
    },
    addItem() {
      console.log("add item");
      // Dont put reference on the list
      // this.tempItem.id = Date.now();
      // this.items.push(this.tempItem);

      // this.items.splice(this.index.length,0,{})
      this.items.push({
        id: Date.now(),
        name: this.tempItem.name,
        download: this.tempItem.download
      });
      this.resetTempItem();
      // this.items.push({
      //   id: Date.now(),
      //   name: this.$refs["nameRef"].value,
      //   download: this.$refs["downloadRef"].checked
      // });
    }
  }
});
</script>

<style>
</style>