<template>
  <div>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control" placeholder="Search"
        @keyup.enter="search"
        v-model="query"
      />
        <!-- @keyup="$event.key == 'enter' && search($event.target.value)" -->
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" @click="search">
          Search
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class SearchForm extends Vue {
  query = ''

  search(){
    this.$emit('search',this.query)
  }
}
</script>

<style>
</style>