<template>
  <div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 no-gutters">
      <div class="col" v-for="result in results" :key="result.id">
        <AlbumCard :album="result" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Album } from "../../model/Search";
import AlbumCard from "../albums/AlbumCard.vue";

@Component({
  components: {
    AlbumCard
  }
  // props:['results']
})
export default class SearchResults extends Vue {
  @Prop({ required: true })
  results!: Album[];
}
</script>

<style>
</style>